.main-nav {
  width: 100%;
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  @media screen and (max-width: 1024px) {
    display: flex;
  }

  &__toggle {
    position: relative;
    display: none;
    cursor: pointer;
    user-select: none;
    padding: 0;

    @media screen and (max-width: 1150px) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: end;
    }

    span {
      display: block;
      position: absolute;
      left: 8px;
      width: 20px;
      right: 0;
      left: auto;
      flex-shrink: 0;
      height: 2px;
      background-color: $color-default-white;
      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

      &:nth-child(2) {
        // top: 50%;
        width: 10px;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 0 10px;
    width: 100%;

    // @media screen and (max-width: 1220px) {
    //   width: auto;
    // }

    @media screen and (max-width: 1024px) {
      justify-content: start;
      margin-left: auto;
      flex-direction: column;
    }

    @media screen and (max-width: 670px) {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
      overflow: auto;

      
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      

      background-color: $color-default-white;

      transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
      transform: translateX(100%);
    }
  }

  

  &__item {
    position: relative;
    margin: 0;
    transition: .3s;

    @include vp-1439 {
      margin: 0;
    }

    @include vp-1279 {
      margin: 0;
    }

    &.menu-item-has-children {
      @media screen and (max-width: 1024px) {
        display: block;
      }

      @media (min-width: 1023px) {
        @include focus-within {
          .main-nav__link {
            &::after {
              content: "";
            }

            svg {
              transform: rotate(180deg);
            }
          }

          
        }

        @include hover-focus {
          .main-nav__link {
            &::after {
              content: "";
            }

            
          }

          .main-nav__sublist {
            opacity: 1 !important;
            visibility: visible !important;
          }
        }
      }
    }

   

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    color: $color-default-white;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    padding: 0px;
    transition: .3s;
    transform: translate3d(0, 0, 0);
    text-transform: none;



    &::after {
      content: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 10px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__sublist {
    width: 380px;
    z-index: 10;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    margin: 0;
    padding-right: 10px;
    list-style: none;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    opacity: 0 !important;
    visibility: hidden !important;
    transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

    @media screen and (max-width: 1150px) {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  &__contacts {
    flex-direction: column;
    gap: 15px;
  }

  &__contacts-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__phone,
  &__email {
    white-space: nowrap;
  }
}