.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 20px;
}

.next.page-numbers {
    padding: 0;
    display: flex;

    svg {
        transform: rotate(-180deg);
    }
}

.prev.page-numbers {
    padding: 0;
    display: flex;
}

.page-numbers {
    color: rgb(184, 170, 238);
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border: 1px solid rgb(184, 170, 238);
    border-radius: 100px;
    padding: 9px 15px;
    transition: .2s;
}

.page-numbers:hover {
    color: rgb(149, 127, 230);
    border: 0.9px solid rgb(149, 127, 230);
}

span.page-numbers.current {
    color: rgb(255, 255, 255);
    background: rgb(184, 170, 238);
}

.prev.page-numbers,
.next.page-numbers {
    border: none;
}

.prev.page-numbers:hover,
.next.page-numbers:hover {
    svg {
        path:last-child {
            stroke: rgb(149, 127, 230);

        }
    }
}

@media screen and (max-width: 600px) {
    .pagination {
        gap: 0 16px;
    }
}

@media screen and (max-width: 340px) {
    .pagination {
        gap: 0 6px;
    }
}