mixin header(headerMods, currentUrl)
  -
    

  header.header(class=headerMods data-header data-media="(max-width: 1023px)")
    .container
      .header__wrapper
        a.header__logo(href="/", aria-label="Переход на главную")
         img(src="img/content/logo.webp" alt="Логотип компании" width="119" height="119").header__logo-icon
        nav.main-nav
          .main-nav__menu
            button(type="button").header__button Ассортимент 
              .header__box
                span
                span
                span
            <ul class="main-nav__list" data-header-accordion>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">О компании</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Импорт</a>
              </li>   
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Производство</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Доставка и оплата</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="#">Контакты</a>
              </li>
            </ul>
          .main-nav__contacts
            a.main-nav__phone(href="tel:+79509185894") +7(950) 918-58-94
            button(href="#!" data-open-modal="feedback").header__btn Заказать звонок
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
      .header__tab-menu
        .container 
          ul.header__tab-buttons 
            li.header__tab-item 
              button(type="button" data-tab="tab-1").header__tab-btn.header__tab-btn--active Свинина
                +icon("pig", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-2").header__tab-btn Баран
                +icon("meat1", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-3").header__tab-btn говядина
                +icon("meat2", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-4").header__tab-btn Буйвол
                +icon("meat3", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-5").header__tab-btn кролик
                +icon("meat4", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-6").header__tab-btn курица
                +icon("meat5", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-7").header__tab-btn индейка
                +icon("meat6", 60, 60)
            li.header__tab-item 
              button(type="button" data-tab="tab-8").header__tab-btn утка
                +icon("meat7", 60, 60)
          ul.header__tab-panel 
            li(id="tab-1").header__panel-item.header__panel-item--active
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info1.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Свиные туши и полутуши
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info2.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Вырезка
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info3.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Тримминг
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info4.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Окорок
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info5.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Свиные ноги
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info6.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text карбонад
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info7.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шея 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info8.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Грудинка свинина
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info9.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Сердце
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info10.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Корейка
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info11.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рагу
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info13.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Ребра
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info14.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Печень
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info16.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Ноги
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info17.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Уши
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info18.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Головы
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info19.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Щека
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info20.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шпик
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
            li(id="tab-2").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info2.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Вырезка 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info1.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Свиные туши и полутуши
            li(id="tab-3").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info12.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Рулька
            li(id="tab-4").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info15.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Язык
            li(id="tab-5").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info14.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Печень
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info14.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Печень
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info14.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Печень
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info14.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Печень
            li(id="tab-6").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info19.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Щека
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info19.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Щека
            li(id="tab-7").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info20.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шпик
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info20.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шпик
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info20.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шпик
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info20.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шпик
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info20.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шпик
            li(id="tab-8").header__panel-item
              ul.header__tab-list 
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
                li.header__tab-content 
                  a(href="#!")
                    img(src="img/content/info21.webp" alt="Фото видов мясной продукции" width="216" height="160")
                    p.header__tab-text Шкура свиная
  block modals
    +modal("modal--feedback")(data-modal="feedback")
      +popup()
    +modal("modal--thanks")(data-modal="partner")
        +popup-partner()